form{
    background-color: rgb(182, 182, 182);
    width: 750px;
}

.sexe{
    text-align: center;
}

.bouton{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.groupe{
    margin: 20px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 13% 50% 17%;
    grid-column-gap: 6%;
}

#erreur1{
    display: none;
    color: #dd1a1a;
}

#erreur2{
    display: none;
    color: #dd1a1a;
}

#erreur3{
    display: none;
    color: #dd1a1a;
}